---
layout: default
---
<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
        
        /* Force two-column layout */
        .home-content-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;
        }
        
        .blog-main {
            flex: 1 1 65%;
            min-width: 300px;
        }
        
        .sidebar-wrapper {
            flex: 0 0 30%;
            min-width: 280px;
        }
        
        @media (max-width: 768px) {
            .home-content-wrapper {
                flex-direction: column;
            }
            .blog-main,
            .sidebar-wrapper {
                flex: 1 1 100%;
            }
        }
    </style>
    
    <div id="main" class="call-out call-out_img">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>
    
    <div class="home-content-wrapper">
        <!-- Blog posts (main content) -->
        <div class="blog-main">
            {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %}
            {{ _blog | split: " " | join: " "}}
        </div>
        
        <!-- DailyDrop757 Sidebar Poster -->
        <div class="sidebar-wrapper">
            {% include poster.html %}
        </div>
    </div>
</div>
